body {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#545454;
    font-family: "Helvetica Neue Light", Helvetica;
    margin:0;
    padding:0;
    overflow:hidden;
}
a {
    color:#efefef;
    text-decoration: none;
}
.coverTitle {
    width:auto;
    height:50px;
    font-family: "bickham-script-pro",sans-serif;
    font-size:120px;
    display: block;
    position: absolute;
    top:10px;
    left:40px;
    color:#efefef;
    text-shadow:0 -1px 0 rgba(68,68,68,0.75);
}
.coverLaunch {
    width:100%;
    height:50px;
    position: relative;
    display: block;
    left:0;
    top:250px;
}
.coverCaption {
    height:50px;
    line-height: 50px;
    font-size:20px;
    margin-left:40px;
    display: block;    color:#efefef;
    text-shadow:0 -1px 0 rgba(68,68,68,0.75);
    text-transform: uppercase;
}
.coverCaption a {
    font-size:14px;
    padding-left:10px;
}
.coverIcons {
    width:300px;
    height:50px;
    display: block;
    position: absolute;
    top:20px;
    right:50px;
}
.coverIcons a {
    width:50px;
    height:50px;
    margin-right:20px;
    display: block;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.coverIcons a:hover {
background-color: rgba(34,34,34,0.4);
}
.twitter {
    background-image: url('../img/twitter_icon_off.png');
}
.facebook {
    background-image: url('../img/facebook_icon_off.png');
}
.instagram {
    background-image: url('../img/instagram_icon_off.png');
}
.pinterest {
    background-image: url('../img/pinterest_icon_off.png');
}
.footer {
    width:100%;
    height:20px;
    position: relative;
    top:420px;
    left:0;
}
.copy {
    line-height: 20px;
    margin-left:40px;
    width:200px;
    float:left;
    color:#efefef;
    font-size:12px;
}
.coverSignUp {
    height:100px;
    width:100%;
    display:block;
    position: relative;
    top:380px;
    left:0;
    background-color: rgba(34,34,34,0.8);
}
.coverDistNote {
    width:120px;
    height:40px;
    margin:30px 20px;
    display: block;
    float:left;
    text-transform: uppercase;
    color:#fefefe;
    line-height: 20px;
    font-size:14px;
}
.coverMoniker {
    width:80px;
    height:80px;
    display: block;
    float:left;
    margin:10px 20px;
    background: url('../img/moniker_60.png') no-repeat center center;
}
form {
    margin:0;
    padding:0;
    border:0;
}
input {
    margin:30px;
    height:20px;
    padding:10px;
    line-height: 20px;
    font-size:16px;
    width:200px;
    display: block;
    float:left;
    border:0;
    background: rgba(254,254,254,0.9);
    box-shadow:inset 1px 1px 1px rgba(34,34,34,0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type="email"] {
    width:300px;
}
input[type="submit"] {
    width:120px;
    height:40px;
    -webkit-appearance: none;
}
.signUpButton{
    width:120px;
    height:40px;
    margin:30px;
    height:20px;
    padding:10px;
    line-height: 20px;
    font-size:16px;
    text-align: center;
    display: block;
    float:left;
    cursor: pointer;
    background-color: rgba(34,34,34,0.85);
    color:#fefefe;
    text-shadow:0 -1px 0 rgba(68,68,68,0.75);
}
/**IPHONE PORTRAIT**/
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    body {
        width:100%;
        height:100%;
        display: block;
        background-position: -300px 0;
    }
    .coverIcons {
        right:50px;
    }
    .coverTitle {
        font-size:100px;
    }
    .coverLaunch {
        width:100%;
        height:50px;
        position: relative;
        display: block;
    }
    .footer {
        width:100%;
        height:20px;
        position: relative;
        top:660px;
        left:0;
    }
    .copy {
        line-height: 20px;
        margin-left:40px;
        width:200px;
        float:left;
        color:#333;
        font-size:12px;
    }
    .coverSignUp {
        height:300px;
        width:100%;
        display:block;
        position: relative;
        top:660px;
        left:0;
        background-color: rgba(34,34,34,0.8);
    }
    .coverMoniker {
        width:20%;
        height:80px;
        display: block;
        float:left;
        margin:10px 0;
        background: url('../img/moniker_60.png') no-repeat center center;
    }
    .coverEmail {
        width:80%;
        height:140px;
        display: block;
        float:right;
    }
    .coverDistNote {
        width:100%;
        height:20px;
        margin:20px 0 10px 0;
        display: block;
        float:left;
        text-transform: uppercase;
        color:#fefefe;
        line-height: 20px;
        font-size:14px;
    }
    .coverForm {
        width:320px;
        height:auto;
        display: block;
    }
    input {
        margin:20px 0;
        height:20px;
        padding:10px;
        line-height: 20px;
        font-size:16px;
        width:300px;
        display: block;
        border:0;
        background: rgba(254,254,254,0.9);
        box-shadow:inset 1px 1px 1px rgba(34,34,34,0.85);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .signUpButton {
        width:120px;
        height:40px;
        margin:20px 0 0 0;
        height:20px;
        padding:10px;
        line-height: 20px;
        font-size:16px;
        text-align: center;
        display: block;
        float: left;
        background-color: rgba(34,34,34,0.85);
        color:#fefefe;
        text-shadow:0 -1px 0 rgba(68,68,68,0.75);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
/**IPHONE LANDSCAPE**/
@media screen and (max-device-width: 480px) and (orientation:landscape) {

    input {
        width:170px;
    }
    input[type="email"] {
        width:170px;
    }
    .footer {
        width:100%;
        height:20px;
        position: relative;
        top:450px;
        left:0;
    }

}

/**IPAD PORTRAIT**/
@media screen and (device-width: 768px) and (orientation:portrait) {
    body {
        width:100%;
        height:100%;
        display: block;
        background-position: -300px 0;
    }
    .coverIcons {
        right:50px;
    }
    .coverTitle {
        font-size:100px;
    }
    .footer {
        width:100%;
        height:20px;
        position: relative;
        top:855px;
        left:0;
    }
    .copy {
        line-height: 20px;
        margin-left:40px;
        width:200px;
        float:left;
        color:#333;
        font-size:12px;
    }
    .coverSignUp {
        height:300px;
        width:100%;
        display:block;
        position: relative;
        top:850px;
        left:0;
        background-color: rgba(34,34,34,0.8);
    }
    .coverMoniker {
        width:20%;
        height:80px;
        display: block;
        float:left;
        margin:10px 0;
        background: url('../img/moniker_60.png') no-repeat center center;
    }
    .coverEmail {
        width:80%;
        height:140px;
        display: block;
        float:right;
    }
    .coverDistNote {
        width:100%;
        height:20px;
        margin:20px 0 10px 0;
        display: block;
        float:left;
        text-transform: uppercase;
        color:#fefefe;
        line-height: 20px;
        font-size:14px;
    }
    .coverForm {
        width:320px;
        height:auto;
        display: block;
    }
    input {
        margin:20px 0;
        height:20px;
        padding:10px;
        line-height: 20px;
        font-size:16px;
        width:300px;
        display: block;
        border:0;
        background: rgba(254,254,254,0.9);
        box-shadow:inset 1px 1px 1px rgba(34,34,34,0.85);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .signUpButton {
        width:120px;
        height:40px;
        margin:20px 0 0 0;
        height:20px;
        padding:10px;
        line-height: 20px;
        font-size:16px;
        text-align: center;
        display: block;
        float: left;
        background-color: rgba(34,34,34,0.85);
        color:#fefefe;
        text-shadow:0 -1px 0 rgba(68,68,68,0.75);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
/**IPAD LANDSCAPE**/
@media screen and (device-width: 768px) and (orientation:landscape) {
    input {
        width:170px;
    }
    input[type="email"] {
        width:170px;
    }
    .footer {
        width:100%;
        height:20px;
        position: relative;
        top:450px;
        left:0;
    }
}